body {
    background: #555;
}

.content {
    max-width: 1000px;
    margin: auto;
    background: #E7DCDC;	
 
	padding-left: 60px;
	padding-right: 80px;
	padding-bottom: 220px;
	padding-top: 10px;
	}
	
.button{
		background: #ffff;
		padding: 10px 8px;
		margin:auto;
		
		
}
ul {
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
	border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;

}

.active {
    background-color: #4CAF50;	
 
}


.form-group.required .control-label:after {
  content:" *";
  color:red;
}

#menu {
  position: fixed;
  bottom: 0;
  
  left: 80%;
  width: 8em;
  margin-top: -2.5em;
   transform: rotate(0deg);
   
}